#chatDiv {
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 80vh;
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

    #buttonDiv {
        width: 5vw;
    }

        #expandButton {
            background-color: #F08080;
            color: white;
            position: absolute;
            bottom:10px;
            right: 10px;
            float: right;
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
            border: none;
            outline:none;
        }

        #expandButton:hover {
            background-color: #CD5C5C;
            color: white;
        }

    #popup {
        width: 25vw;
        margin-right: 2%;
        visibility: hidden;
        -webkit-box-shadow: -15px 15px 48px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -15px 15px 48px -1px rgba(0,0,0,0.75);
        box-shadow: -15px 15px 48px -1px rgba(0,0,0,0.75);
    }

        #chat-window {
            background-color: #D4D4D4;
            overflow: auto;
            height: 90%;
            flex-direction: column;
        }

            #chat-window div {
                margin-top: 15px;
                max-width: 60%;
                word-break: break-all;
                padding: 15px 10px 15px 10px;
                clear: both;
            }

            .user-message {
                margin-right: 15px;
                float: right;
                color: #fff;
                background-color: #6666FF;
            }

            .chatbot-message {
                margin-left: 15px;
                float: left;
                color: #000000;
                background-color: #ffffff;
            }

        #input-div {
            background-color: #F5F5F5;
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
        }

            #container-input {
                flex-grow: 9;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                #input-text {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: #F5F5F5;
                    color: #707070;
                    resize: none;
                    width: 95%;
                    height: 50%;
                    font-size: 18px;
                    border: none;
                    outline: none;
                }

                #input-text::placeholder {
                    color: #909090;
                }

            #container-button {
                flex-grow: 3;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #container-button #send-button {
                    font-size: 50px;
                    border: none;
                    color: #40E0D0;
                    margin-right: 10%;
                    text-decoration: none;
                    outline:none;
                }

                #container-button #send-button:hover {
                    color: #21ccbb;
                    cursor: pointer;
                }


