#chatDiv {
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 80vh;
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

    #buttonDiv {
        width: 90px;
    }

        #expandButton {
            background-color: #F08080;
            color: white;
            position: absolute;
            bottom:10px;
            right: 10px;
            float: right;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: none;
            outline:none;
        }

        #expandButton:hover {
            background-color: #CD5C5C;
            color: white;
        }

    #popup {
        margin-right: 2%;
        flex-grow: 1;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        /*border: 1px solid black;*/
        -webkit-box-shadow: -15px 15px 48px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -15px 15px 48px -1px rgba(0,0,0,0.75);
        box-shadow: -15px 15px 48px -1px rgba(0,0,0,0.75);
    }

        #chat-window {
            background-color: #F08080;
            flex-grow: 20;
        }

        #input-div {
            background-color: #F5F5F5;
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

            #container-input {
                flex-grow: 9;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                #area-text {
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: #F5F5F5;
                    color: #707070;
                    resize: none;
                    width: 95%;
                    height: 50%;
                    font-size: 18px;
                    border: none;
                    outline: none;
                }

                #area-text::placeholder {
                    color: #909090;
                }

            #container-button {
                flex-grow: 3;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
            }

                #container-button #send-button {
                    font-size: 40px;
                    border: none;
                    color: #40E0D0;
                    width: 90%;
                    height: 60%;
                    margin-right: 10%;
                    text-align: center;
                    text-decoration: none;
                    outline:none;
                }

                #container-button #send-button:hover {
                    color: #21ccbb;
                    cursor: pointer;
                }


